body {
    background-color: blueviolet;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(84, 0, 122);
    transition: 0.3s all;
}

#btn-inscreva-se {
    border: solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 30px;
}

#btn-inscreva-se:hover {
    background-color: rgb(84, 0, 122);
    color: rgb(255, 255, 255);
}

h1 {
    font-weight: 200;
    color: rgb(105, 208, 240);
}

h2 {
    font-size: 40px;
    line-height: 10px;
}

h3 {
    font-size: 32px;
    color: rgb(105, 208, 240);
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

#servicos {
    margin-top: 30px;
}

#servicos h2 {
    font-size: 24px;
    color: rgb(66, 154, 209);
    margin-bottom: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}
